<div class="loginContainer">
  <div class="inputContainer">
    <label class="loginLabel" for="username">Username</label>
    <input class="loginCredentials" type="text" name="username">
  </div>

  <div class="inputContainer">
    <label class="loginLabel" for="password">Password</label>
    <input class="loginCredentials" type="password" name="password">
  </div>

  <div class="buttonContainer">
    <button class="redButton">Login</button>
    <button class="blackButton">Register</button>
  </div>

</div>
