.signInContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: .5em;
}
.inputContainer{
  margin-top: .5em;
  margin-bottom: .5em;
  display: flex;
  flex-direction: column;
}
.inputGeneral{
  height: 3em;
  width: 15em;
  border-radius: 1em;
  border: 1px none;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
  background-color: #f6f9ff;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
