<form [formGroup]="loginForm" class="signInContainer">
  <h1>Sign <span class="red">In</span></h1>
    <div class="inputContainer">
      <label class="labelGeneral" for="accountType">Account Type</label>
      <select class="inputGeneral"
              id="accountType"
              formControlName="accountType"
              required>
        <option value="">Select account type</option>
        <option value="STUDENT">Student</option>
        <option value="EMPLOYER">Employer</option>
      </select>
    </div>

  <div *ngIf="loginForm.get('accountType')?.value !== ''">
    <div class="inputContainer" *ngIf="loginForm.get('accountType')?.value === 'EMPLOYER'">
      <div class="inputContainer">
        <label class="labelGeneral" for="companyName">Company Name</label>
        <input class="inputGeneral"
               id="companyName"
               type="text"
               formControlName="companyName"
               maxlength="15">
      </div>
    </div>

    <div class="inputContainer" *ngIf="loginForm.get('accountType')?.value === 'STUDENT'">
      <div class="inputContainer">
        <label class="labelGeneral" for="firstName">First Name</label>
        <input class="inputGeneral"
               id="firstName"
               type="text"
               formControlName="firstName"
               maxlength="10">
      </div>

      <div class="inputContainer">
        <label class="labelGeneral" for="lastName">Last Name</label>
        <input class="inputGeneral"
               id="lastName"
               type="text"
               formControlName="lastName"
               maxlength="10">
      </div>

      <div class="inputContainer">
        <label class="labelGeneral" for="nationality">Nationality</label>
        <select class="inputGeneral"
                id="nationality"
                formControlName="nationality"
                required>
          <option value="CA">Canadian</option>
          <option value="IN">International</option>
        </select>
      </div>

    </div>

    <div class="inputContainer">
      <label class="labelGeneral" for="username">Username</label>
      <input class="inputGeneral"
             id="username"
             type="text"
             formControlName="username"
             autocomplete="username"
             required
             minlength="8">
    </div>

    <div class="inputContainer">
      <label class="labelGeneral" for="password">Password</label>
      <input class="inputGeneral"
             id="password"
             type="password"
             formControlName="password"
             autocomplete="new-password"
             required
             minlength="8">
    </div>

    <div class="inputContainer">
      <label class="labelGeneral" for="email">Email</label>
      <input class="inputGeneral"
             id="email"
             type="email"
             formControlName="email"
             autocomplete="email"
             required>
    </div>
</div>
  <div class="buttonContainer">
    <button class="redButton" (click)="register()" *ngIf="loginForm.get('accountType')?.value !== ''">Register</button>
    <button class="blackButton" [routerLink]="['../']" >Back</button>
  </div>


</form>
