<div [ngClass]="mainClass">
  <div class="navBar" *ngIf="router.url !== '/'">
    <div class="profileArea">
      <div class="profileInfoContainer">
        <div class="userInfo">
          <img id="profileImg" ngSrc="/profile.png" alt="" height="64" width="64">
          <h2 id="profileName">Profile Name</h2>
        </div>
      </div>
      <div class="profileOptions">
        <button class="logOff navButton" routerLink="/">
          Log Off
<!--          <img id="logOutIcon" ngSrc="/logout.png" alt="" width="512" height="512">-->
        </button>
      </div>
    </div>
    <div class="navOptions">
      <div class="spacing"></div>
      <button class="home navButton">Home</button>
      <button class="placements navButton">Placements</button>
      <button class="editProfile navButton">Edit</button>
      <button class="help navButton">Help</button>
      <div class="spacing"></div>
    </div>
  </div>
  <div class="contentArea">
    <router-outlet></router-outlet>
  </div>

  <div class="footerBar" *ngIf="router.url === '/profile'"></div>
</div>
