<form class="formContainer positionForm" [formGroup]="formGroup">
  <h2>Create <span class="red">Placement</span></h2>
  <div class="inputContainer">
    <label class="labelGeneral" for="positionName">Position Name</label>
    <input class="inputGeneral" type="text" id="positionName" formControlName="positionName">
  </div>

  <div class="inputContainer">
    <label class="labelGeneral" for="noPos">Number of spots</label>
    <input class="inputGeneral" type="text" id="noPos" formControlName="positionsAvailable">
  </div>

  <div class="inputContainer">
    <label class="labelGeneral" for="description">Position Description</label>
    <input class="inputGeneral" type="text" id="description" formControlName="positionBio">
  </div>

  <div class="inputContainer">
    <label class="labelGeneral" for="skills">Required Skills</label>
  </div>

  <div class="skillContainer">
    <div *ngFor="let skill of skillClass" [ngClass]="skill.class" (click)="selectSkill(skill.id)">
      {{skill.skill}}
    </div>
  </div>

  <div class="buttonContainer">
    <button class="redButton" (click)="createPlacement()">Add</button>
    <button class="blackButton" [routerLink]="['/employer/placements']">Back</button>
  </div>
</form>
