.placement-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;  /* Changed from center to flex-start */
  margin-top: 2em;
  height: 70vh;
}
.placement{
  display: grid;
  height: 10em;
  width: 20em;
  margin: 1em;
  border-radius: .5em;
  border: 1px solid #cfcfcf;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05);
  transition: all .1s ease-in-out;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.placement:hover{
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcffff;
  border-color: #009dff;
}

.placement-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.option-button{
  border-radius: .5em;
  padding: .5em;
  background-color: #f1f8ff;
  border: 1px solid #cfcfcf;
}

.option-button:hover{
  background-color: #9ad2ff;
  border-color: #009dff;
}

.delete{
  color: white;
  background-color: #ff4b4b;
  border-color: #ff4646;
}

.delete:hover{
  background-color: #ff1a1a;
  border-color: #ff0009;
}

.addImage{
  opacity: 80%;
}

.addImage:hover{
  opacity: 100%;
}
