<div class="placement-list">
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
  <div class="placement-name">
    <h3>Software developer</h3>
  </div>
  <div class="options">
    <button class="option-button swipe">Matching</button>
    <button class="option-button stud-list">Student List</button>
    <button class="option-button edit">Edit</button>
    <button class="option-button delete">Delete</button>
  </div>
</div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>
  <div class="placement">
    <div class="placement-name">
      <h3>Software developer</h3>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>

  <div class="placement add">
    <img class="addImage" ngSrc="/add.png" alt="ADD" height="80" width="80">
  </div>
</div>
