<div class="placement-list">
  <div class="placement" *ngFor="let placement of profile.getPlacements()">
    <div class="placement-name">
      <h2>{{ placement?.positionName }}</h2>
    </div>
    <div class="options">
      <button class="option-button swipe">Matching</button>
      <button class="option-button stud-list">Student List</button>
      <button class="option-button edit">Edit</button>
      <button class="option-button delete">Delete</button>
    </div>
  </div>


  <div class="placement add">
    <img class="addImage" ngSrc="/add.png" alt="ADD" height="80" width="80">
  </div>
</div>
